* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: chocolate;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 10px black;
  color: #a3e32d;
  height: 100vh;
  background-image: url(img/hero-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/* NOSOTROS */
.nosotros {
  display: flex;
  justify-content: center;
  padding: 10em 5em;
  color: #aca4a7;
  font-size: 1.5em;
  /* text-shadow: 1px 1px 10px black; */
  background: linear-gradient(to bottom right, hwb(207 8% 44%), #bf00ff);
}
.nosotros h2{
  text-shadow: 1px 1px 10px black;
}

.nosotros .container{
  padding: 0 1.5em;
  /* /* display: flex;
  justify-content: center;

  /* max-width: 70em; */
  /* margin: auto; */
  /* padding: 8em 5em; */
}

.nosotros h2 {
  color: #86acff;
}

.nosotros p {
  padding-top: 2em;
}

/* GRAMMY */
.grammy {
  display: flex;
  justify-content: center;
  background: url(img/grammy.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  color: #d7d3d3;
  padding: 15em 2em;
}

.grammy h2 {
  font-weight: bold;
}

/* PREMIOS */
.premios {
  display: flex;
  justify-content: center;
  background: url(img/Fondo-premios.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  color: #d7d3d3;
  padding: 8em 2em;
  font-size: 1.2em;
}

.premios p {
  padding-top: 1em;
}

/* TOUR */
.tour {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(img/Fondo-tour.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 9em 2em;
}

.tour .container {
  max-width: 70em;
  margin: auto;
}

.tour li {
  list-style: none;
  font-size: 1.2em;
}

.tour h2 {
  font-weight: bolder;
  padding-bottom: 1em;
}

.tour li {
  padding-top: 1em;
}

/* DISCOGRAFIA */
.discografia {
  display: flex;
  justify-content: center;
  background: url(img/fondo-discografia-3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8em 10em;
}

.discografia .container {
  max-width: 70em;
  margin: auto;
}

.discografia p {
  color: #d7d3d3;
}

.discografia h2 {
  font-size: 3em;
  padding-left: .7em;
  padding-top: .5em;
  color: chocolate;
}

.imagen {
  width: 300px;
}

.disco {
  margin: 2em;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  color: #d7d3d3;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
  max-width: 70em;
  margin: auto;
  padding: 2em 0;
}
.footer p {
  padding: .3em;
}
.footer a {
  color: #d7d3d3;
  padding: 0.5em 0;
}

/* MEDIA */
@media (min-width: 720px) {
  .discografia .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .discografia .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .hero .container img{
    width: 400px;
  }
}